*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width:100%;
}

.main{
    background-color: bisque;
    height: 100%;
    display: flex;
    /* padding: 2vw; */
    position: relative;
}
.right{
    background-color: cadetblue;
    width: 60%;
    height: 100%;
    
}
.rtop{
   background-color: green;
   width: 100%;
   height: 50%;
   display: flex; 
}

#rtopleft{
    background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
    width: 55%;
    height: 100%;
} 
#rtopright{
    width: 45%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1560607162-26b0344e6943?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: bottom;
}
.rbottom{
    background-image: url(https://images.unsplash.com/photo-1687073460744-83ebeb56fa0f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    width: 100;
    height: 50%;
}
.left{
    position: relative;
    background-color: white;
    width: 40%;
    height: 100%; 
}
#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 30px;
}
#navr a{
   margin-right: 20px;
   text-decoration: none;
   color:black;
   font-weight: 500;
   font-size: 14px;
}

#navr i{
    color: royalblue;
}

#textcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    /* right: 50%; */
    /* bottom: 50%; */
    transform: translate(-50%, -50%);
}

#textcenter h1{
    font-size: 60px;
    font-weight: 900;
}

/* opacity used in para, make it greyis from blackis */

#textcenter p{
    font-size: 17px;
    line-height: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#textcenter a{
    text-decoration: none;
    border-bottom: 1px soild #000;
    padding-bottom: 5px;
}


@media(max-width: 500px) {
    .main{
       flex-direction: column;
    }
    .main .left{
        width:100%;
    }
    .main .right{
        width: 100%;
    }
}